NODE_ENV=development
PORT=4002
SERVICE_NAME=business-service
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/sparkin_business
JWT_ACCESS_SECRET=use-the-same-access-secret-as-identity-service
FULFILLMENT_SERVICE_URL=http://localhost:4003/api/v1
