NODE_ENV=development
PORT=4003
SERVICE_NAME=fulfillment-service
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/sparkin_fulfillment
JWT_ACCESS_SECRET=use-the-same-access-secret-as-identity-service
